DEEPSEEK_API_KEY=
=
# MySQL database
DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=
=
# TreasurAI (internal Kemenkeu)
TREASURAI_BASE_URL=
TREASURAI_API_KEY=
TREASURAI_DEFAULT_MODEL=oss20b
=
BUDGET_YEAR=2026